<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <ul class="nav nav-tabs card-header-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" id="analysis-tab" data-toggle="tab" href="#analysis"
                                role="tab">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="water-tab" data-toggle="tab" href="#water" role="tab">Water
                                Consumption</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="chemical-tab" data-toggle="tab" href="#chemical" role="tab">Chemical
                                Consumption</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body text-center" *ngIf="!loadingPage">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                    <div class="spinner-grow text-dark" role="status"></div>
                    <div class="spinner-grow text-light" role="status"></div>
                </div>
                <div class="card-body tab-content" id="myTabContent" *ngIf="loadingPage">
                    <div class="tab-pane fade show active" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
                        <div class="table-responsive" *ngIf="analysisDisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="text-center bg-info text-center">
                                    <th>Item Id</th>
                                    <th>Item Name</th>
                                    <th>Range</th>
                                    <th>Chemical Name</th>
                                    <th>
                                        <button class="btn btn-warning" (click)="addItem('A')">Add Item</button>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of analysis">
                                        <td>{{item.id}}</td>
                                        <td>{{item.itemName}}</td>
                                        <td *ngIf="item.operator==null">{{item.rangeMin}} - {{item.rangeMax}}</td>
                                        <td *ngIf="item.operator!=null">{{item.operator}} {{item.rangeMin}} {{item.rangeMax}}</td>
                                        <td>{{item.chemicalName}}</td>
                                        <td>
                                            <button class="btn btn-primary"
                                                (click)="editItemDetails(item,'A')">Edit</button>&nbsp;
                                            <button class="btn btn-danger" (click)="deleteItemConfirm(item)"
                                                data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="noItemData">
                                        <td colspan="6" class="text-center"><strong>No records to display!</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <form [formGroup]="itemForm" *ngIf="!analysisDisplay" (ngSubmit)="saveItem('A')">
                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label>Item Name</label>
                                    <input type="text" formControlName="itemName" class="form-control"
                                        [ngClass]="{ 'is-invalid': itemName.errors && (itemName.dirty || itemName.touched)}">
                                    <div *ngIf="itemName.errors && (itemName.dirty || itemName.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="itemName.errors.required" class="text-danger">Item Name is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" formGroupName="range">
                                <div class="form-group col-lg-2">
                                    <label>Sign</label>
                                    <select class="form-control" formControlName="sign"
                                        [ngClass]="{ 'is-invalid': (sign.errors || range.errors?.signMin || range.errors?.signMax || range.errors?.yes) && !range.errors?.minMax && (sign.dirty || sign.touched || range.errors?.yes)}">
                                        <option [ngValue]="null">-- select sign --</option>
                                        <option *ngFor="let s of signData" [ngValue]="s">{{s}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label>Minimum Range</label>
                                    <input type="text" formControlName="minRange" class="form-control"
                                        [ngClass]="{ 'is-invalid': (minRange.errors|| range.errors) && (minRange.dirty || minRange.touched || range.errors?.signMin || range.errors?.signMax || range.errors?.yes)}">
                                    <div *ngIf="(minRange.errors || range.errors || sign.errors) && (minRange.dirty || minRange.touched || range.errors?.signMin || range.errors?.signMax || range.errors?.yes)"
                                        class="invalid-feedback">
                                        <div *ngIf="!range.errors?.yes && (!minRange.errors?.pattern)">
                                            <div *ngIf="range.errors?.minMax" class="text-danger">Minimum range must be
                                                less than Maximum range</div>
                                            <div *ngIf="range.errors?.signMin" class="text-danger">Only maximum is
                                                allowed with "&lt;"</div>
                                        </div>
                                        <div *ngIf="minRange.errors?.pattern" class="text-danger">Only numbers are
                                            allowed (Eg:12.35)</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label>Maximum Range</label>
                                    <input type="text" formControlName="maxRange" class="form-control"
                                        [ngClass]="{ 'is-invalid': (maxRange.errors || range.errors) && (maxRange.dirty || maxRange.touched|| range.errors?.yes || range.errors?.signMin || range.errors?.signMax)}">
                                    <div *ngIf="(maxRange.errors|| range.errors) && (maxRange.dirty || maxRange.touched || range.errors?.yes || range.errors?.signMin || range.errors?.signMax)"
                                        class="invalid-feedback">
                                        <div *ngIf="!range.errors?.yes && (!maxRange.errors?.pattern)">
                                            <div *ngIf="range.errors?.signMax" class="text-danger">Only minimum is
                                                allowed with "&gt;"</div>
                                        </div>
                                        <div *ngIf="maxRange.errors?.pattern" class="text-danger">Only numbers are
                                            allowed (Eg:12.35)</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="range.errors?.yes" class="form-row text-danger">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8"><small class="col-lg-12">Only 2 fields out
                                        of Sign, Minimum & Maximum can be selected</small></div>
                                <div class="col-lg-2"></div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label>Chemical Name</label>
                                    <input type="text" formControlName="chemicalName" class="form-control"
                                        [ngClass]="{ 'is-invalid': chemicalName.errors && (chemicalName.dirty || chemicalName.touched)}">
                                    <div *ngIf="chemicalName.errors && (chemicalName.dirty || chemicalName.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="chemicalName.errors.required" class="text-danger">Chemical Name
                                            is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success" [disabled]="!itemForm.valid">
                                    <span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>Save</button>&nbsp;
                                <button type="button" (click)="cancelItem('A')" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="water" role="tabpanel" aria-labelledby="water-tab">
                        <div class="table-responsive" *ngIf="waterDisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="text-center bg-info text-center">
                                    <th>Item Id</th>
                                    <th>Item Name</th>
                                    <th>Range</th>                                    
                                    <th>Chemical Name</th>
                                    <th>
                                        <button class="btn btn-warning" (click)="addItem('W')">Add Item</button>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of water">
                                        <td>{{item.id}}</td>
                                        <td>{{item.itemName}}</td>
                                        <td *ngIf="item.operator==null">{{item.rangeMin}} - {{item.rangeMax}}</td>
                                        <td *ngIf="item.operator!=null">{{item.operator}} {{item.rangeMin}} {{item.rangeMax}}</td>
                                        <td>{{item.chemicalName}}</td>
                                        <td>
                                            <button class="btn btn-primary"
                                                (click)="editItemDetails(item,'W')">Edit</button>&nbsp;
                                            <button class="btn btn-danger" (click)="deleteItemConfirm(item)"
                                                data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="noItemData">
                                        <td colspan="6" class="text-center"><strong>No records to display!</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <form [formGroup]="itemForm" *ngIf="!waterDisplay" (ngSubmit)="saveItem('W')">
                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label>Item Name</label>
                                    <input type="text" formControlName="itemName" class="form-control"
                                        [ngClass]="{ 'is-invalid': itemName.errors && (itemName.dirty || itemName.touched)}">
                                    <div *ngIf="itemName.errors && (itemName.dirty || itemName.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="itemName.errors.required" class="text-danger">Item Name is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" formGroupName="range">
                                <div class="form-group col-lg-2">
                                    <label>Sign</label>
                                    <select class="form-control" formControlName="sign"
                                        [ngClass]="{ 'is-invalid': (sign.errors || range.errors?.signMin || range.errors?.signMax || range.errors?.yes) && !range.errors?.minMax && (sign.dirty || sign.touched || range.errors?.yes)}">
                                        <option [ngValue]="null">-- select sign --</option>
                                        <option *ngFor="let s of signData" [ngValue]="s">{{s}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label>Minimum Range</label>
                                    <input type="text" formControlName="minRange" class="form-control"
                                        [ngClass]="{ 'is-invalid': (minRange.errors|| range.errors) && (minRange.dirty || minRange.touched || range.errors?.signMin || range.errors?.signMax || range.errors?.yes)}">
                                    <div *ngIf="(minRange.errors || range.errors || sign.errors) && (minRange.dirty || minRange.touched || range.errors?.signMin || range.errors?.signMax || range.errors?.yes)"
                                        class="invalid-feedback">
                                        <div *ngIf="!range.errors?.yes && (!minRange.errors?.pattern)">
                                            <div *ngIf="range.errors?.minMax" class="text-danger">Minimum range must be
                                                less than Maximum range</div>
                                            <div *ngIf="range.errors?.signMin" class="text-danger">Only maximum is
                                                allowed with "&lt;"</div>
                                        </div>
                                        <div *ngIf="minRange.errors?.pattern" class="text-danger">Only numbers are
                                            allowed (Eg:12.35)</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label>Maximum Range</label>
                                    <input type="text" formControlName="maxRange" class="form-control"
                                        [ngClass]="{ 'is-invalid': (maxRange.errors || range.errors) && (maxRange.dirty || maxRange.touched|| range.errors?.yes || range.errors?.signMin || range.errors?.signMax)}">
                                    <div *ngIf="(maxRange.errors|| range.errors) && (maxRange.dirty || maxRange.touched || range.errors?.yes || range.errors?.signMin || range.errors?.signMax)"
                                        class="invalid-feedback">
                                        <div *ngIf="!range.errors?.yes && (!maxRange.errors?.pattern)">
                                            <div *ngIf="range.errors?.signMax" class="text-danger">Only minimum is
                                                allowed with "&gt;"</div>
                                        </div>
                                        <div *ngIf="maxRange.errors?.pattern" class="text-danger">Only numbers are
                                            allowed (Eg:12.35)</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="range.errors?.yes" class="form-row text-danger">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8"><small class="col-lg-12">Only 2 fields out
                                        of Sign, Minimum & Maximum can be selected</small></div>
                                <div class="col-lg-2"></div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label>Chemical Name</label>
                                    <input type="text" formControlName="chemicalName" class="form-control"
                                        [ngClass]="{ 'is-invalid': chemicalName.errors && (chemicalName.dirty || chemicalName.touched)}">
                                    <div *ngIf="chemicalName.errors && (chemicalName.dirty || chemicalName.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="chemicalName.errors.required" class="text-danger">Chemical Name
                                            is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success" [disabled]="!itemForm.valid">
                                    <span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>Save</button>&nbsp;
                                <button type="button" (click)="cancelItem('W')" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="chemical" role="tabpanel" aria-labelledby="chemical-tab">
                        <div class="table-responsive" *ngIf="chemDisplay">
                            <table class="table table-bordered table-hover">
                                <thead class="text-center bg-info text-center">
                                    <th>Item Id</th>
                                    <th>Item Name</th>
                                    <th>Range</th>                                    
                                    <th>Chemical Name</th>
                                    <th>
                                        <button class="btn btn-warning" (click)="addItem('C')">Add Item</button>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of chemical">
                                        <td>{{item.id}}</td>
                                        <td>{{item.itemName}}</td>
                                        <td *ngIf="item.operator==null">{{item.rangeMin}} - {{item.rangeMax}}</td>
                                        <td *ngIf="item.operator!=null">{{item.operator}} {{item.rangeMin}} {{item.rangeMax}}</td>
                                        <td>{{item.chemicalName}}</td>
                                        <td>
                                            <button class="btn btn-primary"
                                                (click)="editItemDetails(item,'C')">Edit</button>&nbsp;
                                            <button class="btn btn-danger" (click)="deleteItemConfirm(item)"
                                                data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="noItemData">
                                        <td colspan="6" class="text-center"><strong>No records to display!</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <form [formGroup]="itemForm" *ngIf="!chemDisplay" (ngSubmit)="saveItem('C')">
                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label>Item Name</label>
                                    <input type="text" formControlName="itemName" class="form-control"
                                        [ngClass]="{ 'is-invalid': itemName.errors && (itemName.dirty || itemName.touched)}">
                                    <div *ngIf="itemName.errors && (itemName.dirty || itemName.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="itemName.errors.required" class="text-danger">Item Name is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" formGroupName="range">
                                <div class="form-group col-lg-2">
                                    <label>Sign</label>
                                    <select class="form-control" formControlName="sign"
                                        [ngClass]="{ 'is-invalid': (sign.errors || range.errors?.signMin || range.errors?.signMax || range.errors?.yes) && !range.errors?.minMax && (sign.dirty || sign.touched || range.errors?.yes)}">
                                        <option [ngValue]="null">-- select sign --</option>
                                        <option *ngFor="let s of signData" [ngValue]="s">{{s}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label>Minimum Range</label>
                                    <input type="text" formControlName="minRange" class="form-control"
                                        [ngClass]="{ 'is-invalid': (minRange.errors|| range.errors) && (minRange.dirty || minRange.touched || range.errors?.signMin || range.errors?.signMax || range.errors?.yes)}">
                                    <div *ngIf="(minRange.errors || range.errors || sign.errors) && (minRange.dirty || minRange.touched || range.errors?.signMin || range.errors?.signMax || range.errors?.yes)"
                                        class="invalid-feedback">
                                        <div *ngIf="!range.errors?.yes && (!minRange.errors?.pattern)">
                                            <div *ngIf="range.errors?.minMax" class="text-danger">Minimum range must be
                                                less than Maximum range</div>
                                            <div *ngIf="range.errors?.signMin" class="text-danger">Only maximum is
                                                allowed with "&lt;"</div>
                                        </div>
                                        <div *ngIf="minRange.errors?.pattern" class="text-danger">Only numbers are
                                            allowed (Eg:12.35)</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-5">
                                    <label>Maximum Range</label>
                                    <input type="text" formControlName="maxRange" class="form-control"
                                        [ngClass]="{ 'is-invalid': (maxRange.errors || range.errors) && (maxRange.dirty || maxRange.touched|| range.errors?.yes || range.errors?.signMin || range.errors?.signMax)}">
                                    <div *ngIf="(maxRange.errors|| range.errors) && (maxRange.dirty || maxRange.touched || range.errors?.yes || range.errors?.signMin || range.errors?.signMax)"
                                        class="invalid-feedback">
                                        <div *ngIf="!range.errors?.yes && (!maxRange.errors?.pattern)">
                                            <div *ngIf="range.errors?.signMax" class="text-danger">Only minimum is
                                                allowed with "&gt;"</div>
                                        </div>
                                        <div *ngIf="maxRange.errors?.pattern" class="text-danger">Only numbers are
                                            allowed (Eg:12.35)</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="range.errors?.yes" class="form-row text-danger">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8"><small class="col-lg-12">Only 2 fields out
                                        of Sign, Minimum & Maximum can be selected</small></div>
                                <div class="col-lg-2"></div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <label>Chemical Name</label>
                                    <input type="text" formControlName="chemicalName" class="form-control"
                                        [ngClass]="{ 'is-invalid': chemicalName.errors && (chemicalName.dirty || chemicalName.touched)}">
                                    <div *ngIf="chemicalName.errors && (chemicalName.dirty || chemicalName.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="chemicalName.errors.required" class="text-danger">Chemical Name
                                            is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success" [disabled]="!itemForm.valid">
                                    <span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>Save</button>&nbsp;
                                <button type="button" (click)="cancelItem('C')" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <!-- Modal starts -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Alert!</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this Item?
                    </div>
                    <div class="modal-footer">
                        <p class="text-success" style="margin-right: auto;">
                            <span>{{deleteMessage}}</span>
                        </p>
                        <button type="button" class="btn btn-primary" (click)="deleteItem()">
                            <span *ngIf="delete" class="spinner-border spinner-border-sm mr-1"></span>Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal ends -->
    </div>
</div>