<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>User Details<button (click)="addUser()" [disabled]="showAddUser"
                            class="btn btn-primary float-right">Add User</button></h3>
                </div>
                <div class="card-body text-center" *ngIf="!loadingPage">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                    <div class="spinner-grow text-dark" role="status"></div>
                    <div class="spinner-grow text-light" role="status"></div>
                </div>
                <div class="card-body" *ngIf="loadingPage">
                    <div class="table-responsive" *ngIf="!addUserDisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="text-center bg-info">
                                <th>Employee ID</th>
                                <th>Full Name</th>
                                <th>Designation</th>
                                <th>Email</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.id}}</td>
                                    <td>{{user.fullName}}</td>
                                    <td>{{user.role}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="editUsers(user)">Edit</button>&nbsp;
                                        <button class="btn btn-danger" (click)="deleteUserConfirm(user.id)"
                                            data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                    </td>
                                </tr>
                                <tr *ngIf="noUserData">
                                    <td colspan="5" class="text-center"><strong>No records to display!</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal starts -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Alert!</h5>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete this user?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" (click)="deleteUser()">
                                        <span *ngIf="delete"
                                            class="spinner-border spinner-border-sm mr-1"></span>Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal ends -->
                    <form [formGroup]="registerForm" *ngIf="addUserDisplay" (ngSubmit)="registerUser()">
                        <div class="form-group">
                            <label>Fullname</label>
                            <input type="text" formControlName="userFullName" class="form-control"
                                [ngClass]="{ 'is-invalid': userFullName.errors && (userFullName.dirty || userFullName.touched)}">
                            <div *ngIf="userFullName.errors && (userFullName.dirty || userFullName.touched)"
                                class="invalid-feedback">
                                <div *ngIf="userFullName.errors.required" class="text-danger">Name is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="userPassword" class="form-control"
                                [ngClass]="{ 'is-invalid': userPassword.errors && (userPassword.dirty || userPassword.touched)}">
                            <div *ngIf="userPassword.errors && (userPassword.dirty || userPassword.touched)"
                                class="invalid-feedback">
                                <div *ngIf="userPassword.errors.required" class="text-danger">Password is required.
                                </div>
                                <div *ngIf="userPassword.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Designation</label>
                            <!-- <input type="text" formControlName="userRole" class="form-control"
                                [ngClass]="{ 'is-invalid': userRole.errors && (userRole.dirty || userRole.touched)}"> -->
                            <select class="form-control" formControlName="userRole" [ngClass]="{ 'is-invalid': userRole.errors && (userRole.dirty || userRole.touched)}">
                                <option [ngValue]= "null">-- select role --</option>
                                <option *ngFor="let u of userRoleData" [ngValue]="u">{{u}}</option>
                            </select>
                            <div *ngIf="userRole.errors && (userRole.dirty || userRole.touched)"
                                class="invalid-feedback">
                                <div *ngIf="userRole.errors.required" class="text-danger">Designation is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" formControlName="userEmail" class="form-control"
                                [ngClass]="{ 'is-invalid': userEmail.errors && (userEmail.dirty || userEmail.touched)}">
                            <div *ngIf="userEmail.errors && (userEmail.dirty || userEmail.touched)"
                                class="invalid-feedback">
                                <div *ngIf="userEmail.errors.required" class="text-danger">Email is required.</div>
                                <div *ngIf="userEmail.errors.email" class="text-danger">Eg: Johndoe@gmail.com</div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">
                                <span *ngIf="loading"
                                    class="spinner-border spinner-border-sm mr-1"></span>Save</button>&nbsp;
                            <button type="button" (click)="cancelUser()" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>