<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Customer Details<button (click)="addCustomer()" [disabled]="showAddCustomer"
                            class="btn btn-primary float-right">Add Customer</button></h3>
                </div>
                <div class="card-body text-center" *ngIf="!loadingPage">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                    <div class="spinner-grow text-dark" role="status"></div>
                    <div class="spinner-grow text-light" role="status"></div>
                </div>
                <div class="card-body" *ngIf="loadingPage">
                    <div class="table-responsive" *ngIf="custDisplay">
                        <table class="table table-bordered table-hover table-sm">
                            <thead class="text-center bg-info text-center">
                                <th>Cust ID</th>
                                <th>Company Name</th>
                                <th>Customer Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Storage Unit</th>
                                <th></th>
                            </thead>
                            <tbody style="font-size:small">
                                <tr *ngFor="let cust of customers">
                                    <td>{{cust.id}}</td>
                                    <td>{{cust.companyName}}</td>
                                    <td>{{cust.contactPersonName}}</td>
                                    <td>{{cust.physicalAddress}}</td>
                                    <td>{{cust.contactPersonPhone}}</td>
                                    <td>
                                        <p>{{cust.contactPersonEmail}}</p>
                                        <p *ngIf="cust.ccEmailOne?.length>0"><span><em><strong>cc1:
                                                    </strong></em>{{cust.ccEmailOne}}</span></p>
                                        <p *ngIf="cust.ccEmailTwo?.length>0"><span><em><strong>cc2:
                                                    </strong></em>{{cust.ccEmailTwo}}</span></p>
                                    </td>
                                    <td>
                                        <p *ngIf="cust.storeUnits.length>0">
                                            <ng-container *ngFor="let units of cust.storeUnits">
                                                <p>{{units.unitName}}</p>
                                            </ng-container>
                                        </p>
                                        <p *ngIf="!cust.storeUnits.length>0">No Units mapped</p>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="editCustDetails(cust)">Edit</button>&nbsp;
                                        <button class="btn btn-danger" (click)="deleteCustConfirm(cust)"
                                            data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                    </td>
                                </tr>
                                <tr *ngIf="noCustData">
                                    <td colspan="8" class="text-center"><strong>No records to display!</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal starts -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Alert!</h5>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete this customer?
                                </div>
                                <div class="modal-footer">
                                    <p class="text-success" style="margin-right: auto;"><span>{{deleteMessage}}</span>
                                    </p>
                                    <button type="button" class="btn btn-primary" (click)="deleteCustomer()">
                                        <span *ngIf="delete"
                                            class="spinner-border spinner-border-sm mr-1"></span>Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal ends -->

                    <form [formGroup]="customerForm" *ngIf="addCustDisplay" (ngSubmit)="registerCustomer()">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label>Company Name</label>
                                <input type="text" formControlName="companyName" class="form-control"
                                    [ngClass]="{ 'is-invalid': companyName.errors && (companyName.dirty || companyName.touched)}">
                                <div *ngIf="companyName.errors && (companyName.dirty || companyName.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="companyName.errors.required" class="text-danger">Company Name is
                                        required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Customer Name</label>
                                <input type="text" formControlName="customerName" class="form-control"
                                    [ngClass]="{ 'is-invalid': customerName.errors && (customerName.dirty || customerName.touched)}">
                                <div *ngIf="customerName.errors && (customerName.dirty || customerName.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="customerName.errors.required" class="text-danger">Customer Name is
                                        required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" formControlName="customerAddress" class="form-control"
                                [ngClass]="{ 'is-invalid': customerAddress.errors && (customerAddress.dirty || customerAddress.touched)}">
                            <div *ngIf="customerAddress.errors && (customerAddress.dirty || customerAddress.touched)"
                                class="invalid-feedback">
                                <div *ngIf="customerAddress.errors.required" class="text-danger">Address is
                                    required.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group col-lg-6">
                            <label>Storage Unit</label>
                            <input type="text" formControlName="customerStoreUnit" class="form-control"
                                [ngClass]="{ 'is-invalid': customerStoreUnit.errors && (customerStoreUnit.dirty || customerStoreUnit.touched)}">
                            <div *ngIf="customerStoreUnit.errors && (customerStoreUnit.dirty || customerStoreUnit.touched)"
                                class="invalid-feedback">
                                <div *ngIf="customerStoreUnit.errors.required" class="text-danger">Atleast select one storage unit.
                                </div>
                            </div>
                        </div> -->

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label>Email</label>
                                <input type="email" formControlName="customerEmail" class="form-control"
                                    [ngClass]="{ 'is-invalid': customerEmail.errors && (customerEmail.dirty || customerEmail.touched)}">
                                <div *ngIf="customerEmail.errors && (customerEmail.dirty || customerEmail.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="customerEmail.errors.required" class="text-danger">Email is required.
                                    </div>
                                    <div *ngIf="customerEmail.errors.email" class="text-danger">Eg: Johndoe@gmail.com
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Phone</label>
                                <input type="text" formControlName="customerPhone" class="form-control"
                                    [ngClass]="{ 'is-invalid': customerPhone.errors && (customerPhone.dirty || customerPhone.touched)}">
                                <div *ngIf="customerPhone.errors && (customerPhone.dirty || customerPhone.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="customerPhone.errors.required" class="text-danger">Contact number is
                                        required.
                                    </div>
                                    <div *ngIf="customerPhone.errors.pattern" class="text-danger">Only numbers are
                                        allowed (10 characters)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label>CC Email One</label>
                                <input type="email" formControlName="customerEmailOne" class="form-control">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>CC Email Two</label>
                                <input type="email" formControlName="customerEmailTwo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">
                                <span *ngIf="loading"
                                    class="spinner-border spinner-border-sm mr-1"></span>Save</button>&nbsp;
                            <button type="button" (click)="cancelCustomer()" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>

                    <div *ngIf="mapCustomerSU">
                        <form>
                            <div class="text-center">
                                <h5>Map customer to Storage Unit(s)</h5>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                    <div><label><em>Company Name</em></label></div>
                                    <div><label><em>Customer Name</em></label></div>
                                    <div><label><em>Address</em></label></div>
                                    <div><label><em>Phone</em></label></div>
                                    <div><label><em>Email</em></label></div>
                                    <div *ngIf="displayNewCustData[0].customerEmailOne?.length>0"><label><em>CC Email
                                                One</em></label></div>
                                    <div *ngIf="displayNewCustData[0].customerEmailTwo?.length>0"><label><em>CC Email
                                                Two</em></label></div>
                                </div>
                                <div class="form-group col-sm-1 col-md-1 col-lg-1">
                                    <div><label><em>:</em></label></div>
                                    <div><label><em>:</em></label></div>
                                    <div><label><em>:</em></label></div>
                                    <div><label><em>:</em></label></div>
                                    <div><label><em>:</em></label></div>
                                    <div *ngIf="displayNewCustData[0].customerEmailOne?.length>0">
                                        <label><em>:</em></label></div>
                                    <div *ngIf="displayNewCustData[0].customerEmailTwo?.length>0">
                                        <label><em>:</em></label></div>
                                </div>
                                <div class="form-group col-sm-7 col-md-7 col-lg-7">
                                    <div><label>{{displayNewCustData[0].companyName}}</label></div>
                                    <div><label>{{displayNewCustData[0].customerName}}</label></div>
                                    <div><label>{{displayNewCustData[0].customerAddress}}</label></div>
                                    <div><label>{{displayNewCustData[0].customerPhone}}</label></div>
                                    <div><label>{{displayNewCustData[0].customerEmail}}</label></div>
                                    <div *ngIf="displayNewCustData[0].customerEmailOne?.length>0">
                                        <label>{{displayNewCustData[0].customerEmailOne}}</label></div>
                                    <div *ngIf="displayNewCustData[0].customerEmailTwo?.length>0">
                                        <label>{{displayNewCustData[0].customerEmailTwo}}</label></div>
                                </div>
                            </div>
                        </form>

                        <form [formGroup]="mapForm" (ngSubmit)="mapStorageUnit()">
                            <div class="form-row">
                                <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                    <div><label><em>Storage Unit(s)</em></label></div>
                                </div>
                                <div class="form-group col-sm-1 col-md-1 col-lg-1">
                                    <div><label><em>:</em></label></div>
                                </div>
                                <div class="form-group col-sm-7 col-md-7 col-lg-7">
                                    <div formArrayName="mapData"
                                        *ngFor="let order of mapFormArray.controls; let i = index">
                                        <input type="checkbox" [formControlName]="i">
                                        {{storageUnits[i].unitName}}
                                    </div>
                                    <div>&nbsp;<span *ngIf="!mapForm.valid && (mapForm.dirty || mapForm.touched)"
                                            class="text-danger">*Atleast one unit must be mapped</span></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-5 col-md-5 col-lg-5"></div>
                                <div class="form-group col-sm-2 col-md-2 col-lg-2">
                                    <button type="submit" class="btn btn-success" [disabled]="!mapForm.valid"><span
                                            *ngIf="register"
                                            class="spinner-border spinner-border-sm mr-1"></span>Register</button>
                                </div>
                                <div class="form-group col-sm-5 col-md-5 col-lg-5"></div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>