<html>
  <head>Welcome!
    
  </head>
<style>
h1{
  background-color: #3385ff;
  text-align: left;
  font-family: Helvetica;
  text-decoration-color: blueviolet;
  text-transform: uppercase;
}

.image1{
  text-align:left;
  
}
h2{
font-family:  Helvetica;
color: white;
text-transform: uppercase;
  background-color:midnightblue;
  text-align:center;
}
.btn{
       background-color:blue;
       border:0px ;
       
       border-radius: 10px;
       position:relative;
       left:86%;
       width:150px;
       height:60px;
       text-align:center;
       text-transform: uppercase;
       font-family:  Helvetica;
      }
.btn-primary1{position:relative;
       left:86%;
       top:50px;
       width:150px;
       padding: 100 px 30 px;
  background-color:blue;
  border-radius: 10px;
  
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(10,0,3,0.7),0 17px 50px 0 rgba(0,0,0,0.19);}
.btn-primary2{width:150px;
  background-color:blue;
 
  position:relative;
       left:86%;
       top:100px;
  border-radius: 10px;
  width:150px;
  height:60px;
  cursor:pointer;
  text-align: center;

  box-shadow: 0 12px 16px 0 rgba(10,0,3,0.7),0 17px 50px 0 rgba(0,0,0,0.19);}
.btn-primary3{width:75px;
  border-radius: 10px;
  background-color:blue;
  position:relative;
  text-align:center;
  left:50%;
  top:150px;
  width:150px;
  height:60px;

  box-shadow: 0 12px 16px 0 rgba(10,0,3,0.7),0 17px 50px 0 rgba(0,0,0,0.19);}
  
    td {
  border: 1px solid black;
  border-collapse: collapse;
}
.r1c1{

  border: 0px solid black;
  border-collapse: collapse;
}
  .tbl1{
    border: 1px solid black;
  border-collapse: collapse;
    border-style: solid;
    border-width: thick;
  }
.r1 {
    width: 750px;
    height:200px;
  padding: 5px;
  text-align: left; 
  vertical-align: top;   
}

.r2 {
    width: 750px;
    height:50px;
  padding: 5px;
  text-align: left;    
}
.tb1 {
  position: relative;
   left:2%
}
.tbl2{

  border: 1px solid black;
  border-collapse: collapse;
    border-style: solid;
    border-width: thick;
}
</style>


  <body id="t3">





<div  class=image1>
<img src="assets/img/edgecompletewslogo.png" alt="Edge Complete Water Management Solutions Pty Ltd. Logo"></div>
<h1>{{name}}</h1>
<div class="tb1"><table class=tbl1>
<tr border:1px solid black>
  <td class="r1" colspan="4">
    <table ><tr><td class='r1c1'>COMPANY</td><td class='r1c1'>2</td></tr>
      <tr>ADDRESS</tr></table>
    </td>
  <td class="r1" colspan="5">DATE
    <table class=tbl2></table>
  </td>
</tr>
<tr class='r2N'>
  <td><b>ANALYSIS</b></td>
  <td><b>Mains*</b></td>
  <td><b>Vacuum</b></td>
  <td><b>Plant:</b></td>
  <td><b>Mixer</b></td>
  <td><b>Lab</b></td>
  <td colspan="2"><b>RANGE</b></td>
  <td style="white-space:nowrap"><b>CONTROLLED BY</b></td>
  <td></td>
</tr>
<tr class='r2'>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><b>Others</b></td>
  <td><b>Plant</b></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>Ph</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>Conductivity (µS/cm)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>Temperature °C</b> </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"></td>
  <td></td>
  
</tr>
<tr class='r2'>
  <td><b>FAH (ppm)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"></td>
  <td></td>
  
</tr>
<tr class='r2'>
  <td><b>ORP (mV)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"></td>
  <td></td>
  
</tr>
<tr class='r2'>
  <td><b>Chlorides (ppm)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>Iron (ppm)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"></td>
  <td></td>
  
</tr>
<tr class='r2'>
  <td><b>M Alkalinity (ppm)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>Inhibitor (ppm)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b> HCC & Legionella (09 July 20)*</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
</tr>
<tr class='r2'>
  <td><b>W. Meter kL</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>W. Meter kL – 21 July 20</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>W. Consumption (kL/day)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class='r2'>
  <td><b>Avg. Range (kL/day)</b></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr><td colspan="9"><b>COMMENTS, INTERPRETATION OF ANALYSIS, ACTION REQUIRED</b></td></tr>
</table>
</div>

 
</body>
<div>
  
  <button class="btn btn-primary3" (click)="downloadPDF1()">Generate PDF</button></div>
</html>



