<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Storage Unit Details<button (click)="addStorageUnit()" [disabled]="showAddUnit"
                            class="btn btn-primary float-right">Add Units</button></h3>
                </div>
                <div class="card-body text-center" *ngIf="!loadingPage">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                    <div class="spinner-grow text-dark" role="status"></div>
                    <div class="spinner-grow text-light" role="status"></div>
                </div>
                <div class="card-body" *ngIf="loadingPage">                    
                    <div class="table-responsive" *ngIf="unitDisplay">
                        <table class="table table-bordered table-hover">
                            <thead class="text-center bg-info text-center">
                                <th>Unit ID</th>
                                <th>Unit Name</th>
                                <th>Type Name</th>
                                <th>Capacity</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let u of units">
                                    <td>{{u.id}}</td>
                                    <td>{{u.unitName}}</td>
                                    <td>{{u.typeName}}</td>
                                    <td>{{u.capacity}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="editUnitDetails(u)">Edit</button>&nbsp;
                                        <button class="btn btn-danger" (click)="deleteUnitConfirm(u)"
                                            data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                    </td>
                                </tr>
                                <tr *ngIf="noUnitData">
                                    <td colspan="5" class="text-center"><strong>No records to display!</strong></td>
                                </tr>
                        </table>
                    </div>

                    <!-- Modal starts -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Alert!</h5>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete this unit?
                                </div>
                                <div class="modal-footer">
                                    <p class="text-success" style="margin-right: auto;"><span>{{deleteMessage}}</span>
                                    </p>
                                    <button type="button" class="btn btn-primary" (click)="deleteUnit()">
                                        <span *ngIf="delete"
                                            class="spinner-border spinner-border-sm mr-1"></span>Yes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal ends -->

                    <form [formGroup]="unitForm" *ngIf="!unitDisplay" (ngSubmit)="addUnit()">
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label>Unit Name</label>
                                <input type="text" formControlName="unitName" class="form-control"
                                    [ngClass]="{ 'is-invalid': unitName.errors && (unitName.dirty || unitName.touched)}">
                                <div *ngIf="unitName.errors && (unitName.dirty || unitName.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="unitName.errors.required" class="text-danger">Unit Name is
                                        required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label>Type Name</label>
                                <input type="text" formControlName="typeName" class="form-control"
                                    [ngClass]="{ 'is-invalid': typeName.errors && (typeName.dirty || typeName.touched)}">
                                <div *ngIf="typeName.errors && (typeName.dirty || typeName.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="typeName.errors.required" class="text-danger">Type Name is
                                        required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label>Capacity</label>
                                <input type="text" formControlName="capacity" class="form-control"
                                    [ngClass]="{ 'is-invalid': capacity.errors && (capacity.dirty || capacity.touched)}">
                                <div *ngIf="capacity.errors && (capacity.dirty || capacity.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="capacity.errors.required" class="text-danger">Capacity is required.
                                    </div>
                                    <div *ngIf="capacity.errors.pattern" class="text-danger">Only numbers are
                                        allowed (Eg:12.35)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" [disabled]="!unitForm.valid">
                                <span *ngIf="loading"
                                    class="spinner-border spinner-border-sm mr-1"></span>Save</button>&nbsp;
                            <button type="button" (click)="cancelUnit()" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>