<br><br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <img src="assets/img/edgecompletewslogo.png" alt="Edge Complete Water Management Solutions Pty Ltd. Logo">
    </div>
    <div class="col-lg-4"></div>

  </div>

  <br><br>

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-3">
      <div class="card">
        <h4 class="card-header bg-dark text-center text-white">Sign-In</h4>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-group">
              <input class="form-control col-sm-12" type="text" formControlName="userName" placeholder="Username">
              <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                <div *ngIf="userName.errors.required" class="text-danger">Name is required.</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control col-sm-12" formControlName="userPassword"
                placeholder="Password">
              <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
                <div *ngIf="userPassword.errors.required" class="text-danger">Password is required.</div>
              </div>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block col-sm-12">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-5"></div>
  </div>
</div>