<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="card" *ngIf="recordVisit">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" id="visitRecord-tab" data-toggle="tab" href="#record"
                                role="tab">Record Visit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="visitDetails-tab" data-toggle="tab" href="#detail" role="tab">Visit
                                Details</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body text-center" *ngIf="!loadingPage">
                    <div class="spinner-grow text-primary" role="status"></div>
                    <div class="spinner-grow text-secondary" role="status"></div>
                    <div class="spinner-grow text-success" role="status"></div>
                    <div class="spinner-grow text-danger" role="status"></div>
                    <div class="spinner-grow text-warning" role="status"></div>
                    <div class="spinner-grow text-info" role="status"></div>
                    <div class="spinner-grow text-dark" role="status"></div>
                    <div class="spinner-grow text-light" role="status"></div>
                </div>
                <div class="card-body tab-content" id="myTabDisplayVisitContent" *ngIf="loadingPage">
                    <div class="tab-pane fade show active" id="record" role="tabpanel"
                        aria-labelledby="visitRecord-tab"><br><br>
                        <form [formGroup]="custForm" (ngSubmit)="selectCust()">
                            <div class="form-group row">
                                <div class="col-lg-3 text-center"><label>Customer : </label></div>
                                <div class="col-lg-6">
                                    <select class="form-control col-lg-12" formControlName="custId"
                                        [ngClass]="{ 'is-invalid': custId.errors && (custId.dirty || custId.touched)}">
                                        <option [ngValue]="null">-- select --</option>
                                        <option *ngFor="let c of customers" [ngValue]="c.id">{{c.name}}</option>
                                    </select>
                                    <div *ngIf="custId.errors && (custId.dirty || custId.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="custId.errors.required" class="text-danger">Please choose a
                                            customer
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <button type="submit" class="btn btn-success" [disabled]="!custForm.valid">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Start
                                        Visit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="visitDetail-tab">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="text-center bg-info">
                                    <th>Visit ID</th>
                                    <th>Customer</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Visited By</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let v of visit">
                                        <td>{{v.id}}</td>
                                        <td>{{v.customerName}}</td>
                                        <td>{{v.startDate}}</td>
                                        <td>{{v.endDate}}</td>
                                        <td>{{v.personId}}</td>
                                        <td>
                                            <button class="btn btn-success" (click)="viewVisit(v.id)"><span *ngIf="view"
                                                    class="spinner-border spinner-border-sm mr-1"></span>View</button>&nbsp;
                                            <button class="btn btn-danger" (click)="deleteVisitConfirm(v.id)"
                                                data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="noVisitData">
                                        <td colspan="6" class="text-center"><strong>No records to display!</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="!recordVisit">
                <div class="card-header text-center">
                    <h6>Customer: <em class="text-uppercase">{{custName}}</em><button (click)="cancelVisit()"
                            data-toggle="modal" data-target="#staticBackdrop" class="btn btn-danger float-right">Cancel
                            Visit</button></h6>
                    <ul class="nav nav-tabs card-header-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" id="analysisVisit-tab" data-toggle="tab" href="#analysisVisit"
                                role="tab">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="waterVisit-tab" data-toggle="tab" href="#waterVisit"
                                role="tab">Water
                                Consumption</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="chemicalVisit-tab" data-toggle="tab" href="#chemicalVisit"
                                role="tab">Chemical
                                Consumption</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content" id="myTabRecordVisitContent">
                    <div class="tab-pane fade show active" id="analysisVisit" role="tabpanel"
                        aria-labelledby="analysisVisit">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="text-center bg-info text-center">
                                    <th>Items</th>
                                    <th>Mains</th>
                                    <th *ngFor="let s of storeUnits">{{s.unitName}}</th>
                                    <th>Range</th>
                                    <th>Controlled By</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of analysis;">
                                        <td>{{a.itemName}}</td>
                                        <td></td>
                                        <!-- <ng-container *ngIf="editReadingsDisplay">
                                            <td *ngFor="let s of storeUnits;">
                                                <label id="{{'text'+a.id+s.id+'text'}}"></label>
                                            </td>
                                        </ng-container>                                        
                                        <ng-container *ngIf="!editReadingsDisplay"> -->
                                        <td *ngFor="let s of storeUnits;">
                                            <input type="text" id="{{'text'+a.id+s.id}}" class="form-control"
                                                [readonly]="editReadingsDisplay">
                                        </td>
                                        <!-- </ng-container> -->
                                        <td *ngIf="a.operator==null">{{a.rangeMin}} - {{a.rangeMax}}</td>
                                        <td *ngIf="a.operator!=null">{{a.operator}} {{a.rangeMin}} {{a.rangeMax}}</td>
                                        <td>{{a.chemicalName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary m-2" (click)="editReadings()" *ngIf="editReadingsDisplay">Edit</button>
                            <button class="btn btn-success" (click)="saveReadings()" *ngIf="!editReadingsDisplay"><span *ngIf="save"
                                class="spinner-border spinner-border-sm mr-1"></span>Save</button>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="waterVisit" role="tabpanel" aria-labelledby="waterVisit-tab">
                    </div>
                    <div class="tab-pane fade" id="chemicalVisit" role="tabpanel" aria-labelledby="chemicalVisit-tab">
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <!-- Modal starts -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Alert!</h5>
                        </div>
                        <div class="modal-body">
                            Are you sure to delete this Visit?
                        </div>
                        <div class="modal-footer">
                            <p class="text-success" style="margin-right: auto;">
                                <span>{{deleteMessage}}</span>
                            </p>
                            <button type="button" class="btn btn-primary" (click)="deleteReadings()">
                                <span *ngIf="delete" class="spinner-border spinner-border-sm mr-1"></span>Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal ends -->
        </div>
    </div>