<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
        <a class="nav-item nav-link" routerLink="/storage" routerLinkActive="active">Storage Units</a>
        <a class="nav-item nav-link" routerLink="/consumption" routerLinkActive="active">Consumption</a>
        <a class="nav-item nav-link" routerLink="/visit" routerLinkActive="active">Visit</a>
        <a class="nav-item nav-link" routerLink="/chart" routerLinkActive="active">Chart</a>
        <a class="nav-item nav-link" routerLink="/report" routerLinkActive="active">Report</a>
        
        <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
    </div>
</nav>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>