<p>charts1 works!</p>
<p id="txt1" ng-bind="custName"></p>


<div id="chart-1">
<canvas id="chart-2">


</canvas>
<canvas id="chart-3"></canvas>
</div>
<div><button id='bt1' ng-click=addData()>more timeline</button></div>
