<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <img src="assets/img/edgecompletewslogo.png" alt="Edge Complete Water Management Solutions Pty Ltd. Logo">
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>